* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.835);
}

.app {
  width: calc(100% - 100px);
  height: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0 50px;
  display: flex;
  flex-wrap: wrap;
}

.field-row {
  display: flex;
}

.cell {
  width: 13px;
  height: 13px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px black, -0.5px -0.5px black;
  background-color: rgba(255, 255, 255, 0.897);
}

.water {
  background-color: aqua;
}

.food {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: orange;
}

.poison {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: red;
}

.organic {
  background-color: gray;
}

.being {
  background-color: green;
}

.designations {
  width: 650px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.11);
}

.designations-item {
  display: flex;
  align-items: center;
}